@utility choice {
  --choice-size: calc(var(--spacing) * 6);

  @apply border border-palette focus-visible:outline-1 outline-offset-2 outline-palette;

  width: var(--choice-size);
  height: var(--choice-size);
}

@utility choice-sm {
  --choice-size: calc(var(--spacing) * 4);
}

@utility choice-lg {
  --choice-size: calc(var(--spacing) * 8);
}

@utility choice-radio {
  @apply rounded-full f-center;

  &[data-state="false"]>.choice-radio-trigger {
    @apply opacity-0 scale-0;
  }
}

@utility choice-radio-trigger {
  @apply size-2/3 bg-palette rounded-full transition-all f-center text-brush;
}

@utility choice-checkbox {
  @apply rounded f-center data-[state=true]:border-transparent;

  &[data-state="false"]>.choice-checkbox-trigger {
    @apply opacity-0 scale-0;
  }
}

@utility choice-checkbox-trigger {
  @apply size-full bg-palette rounded transition-all f-center text-brush;
}

@utility choice-switch {
  @apply relative rounded-full f-align p-0.75 data-[state=true]:border-transparent ;

  width: calc(var(--choice-size) * 1.75) !important;

  &[data-state="true"] {
    @apply bg-palette;

    &>.choice-switch-trigger {
      @apply bg-brush text-palette;

      left: calc(var(--choice-size) * 0.75 + 0.1875rem);
    }
  }

  &[data-state="false"]>.choice-switch-trigger {
    @apply bg-palette text-brush;

    left: 0.1875rem;
  }
}

@utility choice-switch-trigger {
  @apply absolute rounded-full transition-all f-center duration-300;

  width: calc(var(--choice-size) - 0.375rem);
  height: calc(var(--choice-size) - 0.375rem);
}