@utility tabs-list {
  @apply w-fix f-align gap-3;
}

@utility tabs-tab-styled-1 {
  @apply btn-rounded data-[state=true]:shadow-foreground/10 shadow-xl shadow-transparent;

  &[data-state="true"] .tabs-badge {
    @apply badge-fill shadow-palette/20;
  }

  &[data-state="false"] .tabs-badge {
    @apply badge-soft;
  }
}

@utility tabs-panel {
  @apply p-3;
}

@utility tabs-list-styled-2 {
  @apply bg-background-thick p-1.5 rounded-full;
}

@utility tabs-tab-styled-2 {
  @apply btn-rounded data-[state=true]:bg-background;
}