@utility tabs-list {
  @apply f-align gap-3;
}

@utility tabs-tab {
  @apply btn-rounded data-[state=true]:shadow-foreground/10 shadow-xl shadow-transparent;

  &[data-state="true"] .tabs-badge {
    @apply badge-fill shadow-palette/20;
  }

  &[data-state="false"] .tabs-badge {
    @apply badge-soft;
  }
}

@utility tabs-panel {
  @apply p-3;
}